html{
background:url("../Imgs/Fundo.png");
overflow: hidden;
min-width:1100px;
min-height:530px;
width:100%;
height:100%;
margin:0 auto;
}
@font-face {
  font-family: cursive;
  src: url(cursive.ttf);
}
@font-face {
  font-family: georgia;
  src: url(georgia.ttf);
}

body{width:100%; height:100%; min-width:1100px; min-height:530px; overflow: hidden;}
*{overflow:hidden; font-family:georgia; font-size: 100%;} /*14px*/
strong{
font-size:125%;
}
/*-----------------------------------------------------*/
/*Canvas*/
#Ludo{
	margin:0 auto;
	float:none;
	position:relative;
	/*top:-900px;/*-1844px;*/
	/*left: 110px;*/
	z-index:0;
	border: 1px solid #d3d3d3;
	/*width:39%;
	min-height:530px;*/
	width:100%;
	height:100%;
	background-image:url("../Imgs/Tab.png");
	background-repeat: no-repeat;
	background-attachment: local;
	background-size: 100% 99.5%;
}


/*-----------------------------------------------------*/
/*Botoes*/

#Controles li {
	display:inline;
}
	
button:hover{
	border: 1px #343434 solid;
	transition:0.3s;
}
input:hover{
	border: 1px #343434 solid;
	transition:0.3s;
}


#thermo10, #BtA, #BtB, #BtC, #BtD, #Instrucao{
	font-family:georgia;
	padding:1.5%;
	font-size:110%;
    border-radius: 5px;
	/*top:14px;*/
	font-weight:bold;
}
#Instrucao{
position:relative;
margin-left:6%;
}

#thermo10{
position:relative;
margin-left:6%;
}
#BtA{
position:relative;
margin-left:6%;
}
#BtB{
position:relative;
margin-left:6%;
}
#BtC{
position:relative;
margin-left:6%;
}
#BtD{
position:relative;
margin-left:6%;
}

#Dado{
position:relative;
Background:Transparent no-repeat;
height:100%;
width:100%;
border:none;
}

#DadoEx{
Background:transparent no-repeat;
left:80%;
top:15%;
position:absolute;
height:100px;
width:100px;
border:none;
}
#DadoKit{
Background:transparent no-repeat;
position:relative;
display:block;
right:15%;
margin-top:15%;
float:right;
clear:both;
height:100px;
width:100px;
border:none;	
}

#LancaDado:hover {
box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.8);	
}

ul{
list-style-type:none;
}


/*-----------------------------------------------------*/
/*Div's, Sections e Player's name*/
#Right_Player {
display:block;
float:right;
right:7%;
position: relative;
Height: 80%;
/*left:960px;
top:-515px;*/
width: 17%;
background-color:transparent;
}
#Left_Player {
	
display:block;
float:left;
left:7%;
/*top:10px;
left:140px;*/
position: relative;
Height: 80%;
width: 17%;
background-color:
}

#Principal {
position: relative;
margin: 0 auto;
display:block;
width:40%;
height:auto;
top: 0%;
margin-bottom:0;
z-index:-1;
/*left: 410px; /* 505 */
background-color:transparent;
}

#LancaDado {
position:absolute;
padding:0;
top:32%;
min-height:100px;
min-width:100px;
height:10%;
width:8%;
background-color:transparent;
}

#Controles{
background: linear-gradient(to bottom right, grey, black);
position:relative;
display:block;
top:0;
z-index:0;
width:100%;
max-height:90px;
height:20%;
border-radius: 5px;
box-shadow: 0px 5px 15px 2px rgba(255, 255, 255, 0.8);
}

#JG1, #JG2, #JG3, #JG4{
font-size:110%;
text-align:center;
color:white;
}

#thermo{
overflow-y:scroll;
position:absolute;
display:block;
z-index:1;
left:7.5%;
padding-top:0;
padding-left:10px;
padding-right:10px;
top: 3%;
min-height: 500px;
min-width:950px;
height:80%;
width: 85%;
background-color: #fff;
box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.8);
}

/*-----------------------------------------------------*/
/*Div das Regras e seus atributos*/
#regras{
overflow-y:visible;
position:absolute;
z-index:1;
left:7.5%;
padding-top:0;
padding-left:10px;
padding-right:10px;
top: 3%;
min-height:500px;
min-width:950px;
height: 80%;
width: 85%;
background-color: #fff;
box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.8);
}
#regras li{margin-bottom:0.5%; font-size:105%; text-align: justify;}

h3{
position:relative;
left: 92.5%;
font-size:110%;
border-bottom: 1px solid black;
}

h2{
font-size:125%;	
}

h3:hover {
color: red;
}
/*-----------------------------------------------------*/
/*Pieces, Cartão, PlayerName, Dicas, Quitanda, Exercicio*/
#MensagemVencedor {
padding: 5px;
position: absolute;
z-index:1;
min-width:550px;
min-height:105px;
height: 20%;
width:50%;
top: 30%;
left:25%;
background-color: #ffffff;
border-radius: 15px 50px;
box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.8);
}
#Cartao {
overflow-y: scroll;
padding: 5px;
position: absolute;
display:block;
z-index:1;
min-height:380px;
min-width:750px;
width:65%;
height:60%;
top: 7%;
left:17.5%;
background-color: #fff;
border-radius: 15px;
box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.8);
}
#Cartao h3{
	margin-left: 0px;
	border-bottom: 1px solid black;
}

#DicaCartao{
padding:10px;
overflow-y: scroll;
min-height:285px;
min-width:505px;
height:53.5%;
width:47.5%;
z-index:2;
background-color: white;
border-radius: 15px;
position:absolute;
display:block;
float:right;
top: 25%;
right:16.5%;
border-radius: 15px;
box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.8);
}

#DicaCartao img{
	max-width:500px;
}
#DicaCartao h1{
position:relative;
display:block;
left: 85%;
font-size:110%;
border-bottom: 1px solid black;	
}
#DicaCartao h1:hover {
color: red;
}

#Pergunta {
/*border-bottom: 0.5px solid black;*/
top: 5%;
position:relative;
font-size:125%;
text-align:justify;
}

#Conselho{
float:right;
font-size:110%;
position:relative;
border-bottom: 0.5px solid black;
}

#PlayerName {
padding: 5px;
position: absolute;
display:block;
z-index:1;
min-height:450px;
min-width:495px;
height: 45%;
width:45%;			
left:28%;
overflow-y:scroll;
margin-top:/*-340px*/-15%;
background-color: #dddddd;
border-radius: 15px 0px 0px 50px;
box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.8);
animation: Aparecer;
animation-duration: 2s;
animation-fill-mode: forwards;
}

@-webkit-keyframes Aparecer {
 from {top:0;}
 to {top:/*380px*/32%;}
}

#Jg1, #Jg2, #Jg3, #Jg4 {
margin-top:40px;
height:22px;
}

#Submit {
position:relative;
height:35px;
left:290px;
top:-45px;
font-weight: bold;
border-radius:8px;
background:#D1D1D1;
}
#fechar {
height:50px;
width: 125px;
position:relative;
display:block;
margin:40px auto;
border-radius:8px;	
background:#fff;
}

input#fechar:hover {
height: 55px;
width: 130px;
}

#Confirm {
height:50px;
position:relative;
display:block;
left:40%;
margin-bottom:10px;
top:5%;
border-radius:8px;	
background:#fff;
}

input#Confirm:hover {
transform: scale(1.1);
}

input#Submit:hover {
transform: scale(1.1);
}

#Dicas {
overflow-y:scroll;
padding: 5px;
position: absolute;
display:block;
z-index:1;
min-height:350px;
min-width:720px;
height: 60%;
width:66%;
top: 10%;
left:17%;
background-color: #fff;
border-radius: 15px;
box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.8);
}

#Diquinha {
text-align:justify;
}

#Conselho_Dica {
margin-left:450px;
position:relative;
border-bottom: 0.5px solid black;
}

#Quitanda {
padding: 5px;
position: absolute;
display:block;
align-items:center;
z-index:1;
top:6%;
left:2%;
min-width:1050px;
min-height:350px;
height: 75%;
width:95%;
margin: 0 auto;
background-color: #fff;
border-radius: 15px 50px;
box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.8);
}
#selecaoQuitanda{
	position:relative;
	display:block;
	float:left;
	width:55%;
	height:auto;
}
#selecaoQuitanda img{
	width:100%;
	height:auto;
}


#tableQuitanda{
	position:relative;
	display:block;
	float:left;
	width:15%;
	height:80%;
}

#calculoQuitanda{
	position:relative;
	display:block;
	float:left;
	width:30%;
	height:80%;
}
.calculos{
	position:relative;
	display:block;
	width:100%;
	height:auto;
	padding:0;
	margin-top:5%;
}
#avisoQuitanda{
	position:relative;
	display:block;
	max-height:70px;
	width:100%;
	height:15%;
	float:left;
	top:0;
}
#fique_dentro{
	position: absolute;
	display:block;
	top:6%;
	left:60%;
	font-family:georgia;
	font-size:100%;
	overflow-y:scroll;
	padding: 5px;
	z-index:2;
	min-height:350px;
	min-width:410px;
	height: 75%;
	width:37%;
	float:right;
	background-color: #fff;
	border-radius: 15px 0px;
	box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.8);
}
#Msg {
padding: 5px;
position: fixed;
display:block;
z-index:1;
min-width:700px;
min-height:270px;
height: 42%;
width:50%;
top: 25%;
left:25%;
background-color: #dddddd;
border-radius: 15px 50px;
box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.8);
}

#MsgVencedor{
	position:relative;
	margin:0;
	top:10%;/*243px;*/
	left:5%;/*100px;*/
	color:black;
	font-family:georgia;
	font-size:200%;
}
#Venceu{
	position:relative;
	margin:0;
	top:10%; 
	left:60%;
	color:black;
	font-size:200%;
	font-family:georgia;
}

#Msg02 {
padding: 5px;
position: absolute;
z-index:1;
height: 200px;
width:550px;
margin-top: 170px;
margin-left:400px;
background-color: #dddddd;
border-radius: 15px 50px;
box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.8);
}

#Exercicio {
padding: 5px;
position: absolute;
z-index:1;
min-width:730px;
min-height:380px;
height: 70%;
width:66%;
top: 5%;
left:17%;
background-color: #fff;
border-radius: 15px 50px;
box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.8);
}
#tituloExercicio{
	position:relative;
	display:block;
	min-height:45px;
	width:100%;
	height:10%;
	text-align:center;
}
#perguntaExercicio{
	position:relative;
	display:block;
	width:100%;
	height:auto;
}
#escolhaExercicio{
	position:relative;
	display:block;
	width:100%;
	height:auto;
}
#tableExercicio{
	position:relative;
	display:block;
	max-height:40%;
	width:100%;
	height:100%;
}
#Pieces{
padding: 1px;
position: absolute;
z-index:1;
min-width:365px;
min-height:150px;
height: 28%;
width:33%;
top: 65%;
left:65%;
background-color: #dddddd;
border-radius: 15px 50px;
box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.8);
}
#pieceOne, #pieceTwo, #pieceThree {
position: relative;
display:inline-block;
top: -35%;
margin-left:10%;
padding: 4%;
}
#pieceOne{background-image:url("../Imgs/peao/Black/1.png");background-repeat: no-repeat;background-position:center;}
#pieceTwo{background-image:url("../Imgs/peao/Black/2.png");background-repeat: no-repeat;background-position:center;}
#pieceThree{background-image:url("../Imgs/peao/Black/3.png");background-repeat: no-repeat;background-position:center;}
#SairPeca, #AndarPeca {
position:relative;
display:inline-block;
top: 16%;
margin-left:2.5%;
padding-top: 10%;
padding-bottom:10%;
padding-right:2.5%;
padding-left:2.5%;
font-size:180%;
font-weight:bold;
width:45%;
}
/*-----------------------------------------------------*/
/*Tabela*/
.nome{
	text-align:center;
	border-bottom:solid 1px #666;
	width:100%;
	height:30%;
}
.maior{
	height:70%; 
	background:#666;
	text-align:center;
	font-size: 155%;
	width:50%;
	font-weight: bold;
	border-right:1px solid #343434;
}
.pontos{
	width:50%;
	height:70%;
}
#Left_Player table, #Right_Player table{
	max-height:150px;
}
td,tr{text-align:center;}
#Left_Player table:nth-child(1), #Right_Player table:nth-child(1){
	border:1px solid #666;
	/*margin-top:35px; /* 70*/
	/*margin-bottom:13px;/*130*/
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.8);
	background:#fff;
	/* não estava */
	height:100%;
	width:100%;
}

#Left_Player table:nth-child(2), #Right_Player table:nth-child(2){
	border:1px solid #666;
	margin-top:20%;
	/*margin-bottom:13px;/*130*/
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.8);
	background:#fff;
	/* não estava */
	height:100%;
	width:100%;
}
#Left_Player table, #Right_Player table{position:relative;display:table; width:100%; height:auto;}
.positionTabela{position:relative; display:block; width:100%; height:32.5%; top:2%;}
.positionTabela:nth-child(2), .positionTabela:nth-child(4){top:25%;}
#pontuacaoOne, #pontuacaoTwo, #pontuacaoThree, #pontuacaoFour {
text-align: center;
font-size: 125%;
}

#X1,#X2,#X3, #X4,#X5, #X6, #X7,#X8,#X9, #X10,#X11,#X12{
z-index:1;
}

#X1{font-size:188%;position:absolute;top:14%;left:18.5%;font-weight:bolder;}
#X2{font-size:188%;position:absolute;top:5%;left:14%;font-weight:bolder;}
#X3{font-size:188%;position:absolute;top:5%;left:22%;font-weight:bolder;}
#X4{font-size:188%;position:absolute;top:14%;left:76%;font-weight:bolder;}
#X5{font-size:188%;position:absolute;top:5%;left:72%;font-weight:bolder;}
#X6{font-size:188%;position:absolute;top:5%;left:80%;font-weight:bolder;}
#X7{font-size:188%;position:absolute;top:58%;left:18%;font-weight:bolder;}
#X8{font-size:188%;position:absolute;top:66%;left:14%;font-weight:bolder;}
#X9{font-size:188%;position:absolute;top:66%;left:22%;font-weight:bolder;}
#X10{font-size:188%;position:absolute;top:58%;left:75%;font-weight:bolder;}
#X11{font-size:188%;position:absolute;top:66%;left:71%;font-weight:bolder;}
#X12{font-size:188%;position:absolute;top:66%;left:78%;font-weight:bolder;}

#Restart{
	z-index:1; 
	position:absolute; 
	top:55%; 
	left:33%; 
	color:black; 
	font-family:coursive; 
	font-size:175%; 
	padding:1.5%; 
	border-radius:5px;
}






